:root {
    --text-color: #F6F7EB;
    --background-color: #231F20;
    --accent-color: #94849B;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

* {
    font-weight: normal;
    user-select: none;
}

#top-navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--background-color);
    z-index: 999;
}

#top-navbar > h1 {
    color: var(--text-color);

}

#top-navbar > a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.5s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-navbar > a:hover {
    color: var(--accent-color);
    transition: color 0.5s;
}

#top-navbar > a.selected {
    color: var(--accent-color);
}

.accent-font {
    color: var(--accent-color);
}

.bold-font {
    font-weight: bold;
}

#developer-text-container {
    filter: url(#threshold) blur(0.6px);
    width: 100px;
}

#presentation-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    padding-top: 60px;
    overflow: hidden;
}

#presentation-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    min-width: 100%;
}

#projects-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    max-height: 40%;
    display: none;
}

#projects-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    box-sizing: border-box;
    padding-top: 60px;
    overflow: hidden;
}

.projects-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.projects-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    animation: carousel 20s infinite ease-in-out;
}

.project-info-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-title {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    font-size: 2em;
    color: var(--text-color);
    font-weight: bold;
}

.project-description {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    margin-top: 0 !important;
    font-size: 1em;
    color: var(--text-color);
}

.project-screenshots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 15px 0;
    max-width: 100%;
    overflow-x: scroll;
}

.project-screenshots-container > img {
    width: auto;
    height: 100%;
    max-width: 150px;
    border-radius: 4px;
}

.project-screenshots-container > img + img {
    margin-left: 15px;
}

#contact-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    box-sizing: border-box;
}

#presentation-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

#presentation-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}

#presentation-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}

#presentation-right > img {
    width: 100%;
    height: auto;

    max-width: 400px;
}

#presentation-left > h1 {
    color: var(--text-color);
    font-size: 3em;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#presentation-left > #presentation-h2 {
    color: var(--text-color);
    font-size: 1em;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#presentation-left > h3 {
    color: var(--text-color);
    font-size: .85em;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#presentation-left > #presentation-h2 > ol {
    margin: 0;
    padding: 0;
    list-style: none;
    
    --height: 1em;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
    margin: 0 5px;
    width: fit-content;
}

#presentation-left > #presentation-h2 > ol > li{
    text-align: center;
    animation: slide-up 6s infinite;
}

@keyframes slide-up {
    0%, 10% {
        transform: translateY(0%);
    }
    15%, 25% {
        transform: translateY(-100%);
    }
    30%, 40% {
        transform: translateY(-200%);
    }
}

@keyframes carousel {
/* TWO CARDS INSIDE CAROUSEL VERTICALLy*/
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-100%);
    }
    75% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes carousel-horizontal {
/* TWO CARDS INSIDE CAROUSEL HORIZONTALLY*/
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(calc(-100% + 50px));
    }
    75% {
        transform: translateX(calc(-100% + 50px));
    }
    100% {
        transform: translateX(0%);
    }
}

#presentation-left > #presentation-h2 > ol > li > span{
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    #presentation-right {
        display: none !important;
    }

    #presentation-left {
        width: 100%;
        align-items: center;
    }

    #presentation-left > h1 {
        width: auto;
        font-size: 2em;
    }

    #presentation-left > #presentation-h2 {
        width: auto;
    }

    #presentation-left > h3 {
        width: auto;
    }

    #presentation-left-container {
        width: 100%;
        align-items: center;
    }

    .projects-left {
        display: none;
    }

    .projects-right {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        animation: carousel-horizontal 20s infinite;
    }

    .project-info-container {
        min-width: 100%;
    }

    .project-info-container + .project-info-container {
        margin-left: 50px;
    }

    .project-screenshots-container > img {
        width: 100px;
        height: auto;
        border-radius: 4px;
    }
}